@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
    width: 500px;
    max-height: 800px;
    font-family: 'Mulish', sans-serif;

    margin: 0;
}


#header {
    min-height: 80px;
    display: block;

    padding-top: 20px;
    
    position: fixed;

    text-align: center;

    background-color: coral;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    width: 100vw;

    z-index: 60;
}


#heading {
    font-weight: 800;
    font-size: 32px;
    margin-top: 0;
    color: white;
}

#logo {
  position: absolute;
  left: 30px;
  top: 10px;
  width: 80px;
}

#infoButton {
  position: absolute;
  right: 60px;
  top: 30px;
}

#info {
  height: 30px;
  transition: all 400ms ease-out;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 0px;
}

#info > p {
  color: white;
  font-size: 15px;
}

#info.hidden {
  height: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0;
  pointer-events: none;
}


#inputBox {
    width: 240px;
    height: 50px;
    margin-bottom: -25px;

    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    border-radius: 50px;
    outline: none;
    background-color: white;
    border-style: none;
    font-weight: 300;

    z-index: 30;

    transition: all 0.3s ease-in-out;
    font-family: 'Mulish', sans-serif;
}
#inputBox:focus {
    transform: scale(1.05);
    box-shadow: rgba(255, 75, 75, 0.32) 0px 7px 29px 0px;
}

#data {
    padding-top: 150px;
    height: 450px;
    display: grid;
    justify-content: center;
    overflow-y: scroll;


    margin: auto;
}


.outLink {
    display: block;
    width: 80vw;
    height: fit-content;
    margin-top: 15px;
    text-align: center;
    line-height: 50px;

    z-index: 0;


    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    border-radius: 10px;
    transition: all 0.1s ease-in-out;

    text-decoration: none !important;
    font-family: 'Mulish', sans-serif;
}
 
   
.outLink:hover {
    transform: scale(1.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.outLink:focus {
    transform: scale(1.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    outline: none
}


#childrenDisplay {
  position: fixed;
  /* Easy fix for the .hidden class */
  bottom: 0;

  max-height: 100vh;
  width: 100vw;

  transition: all 400ms ease-out;
}

#childrenDisplay.hidden {
  max-height: 0;
  pointer-events: none;
  /* matching the size of the protruding status */
  /* bottom: -40px; */
  opacity: 0;
  transition: all 400ms ease-out;
}

#children {
  overflow-y: scroll;
  display: grid;
  justify-content: center;
  max-height: 300px;
  padding: 7px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#children::before {
  content: "";
  left: 0;
  right: 0;
  top: 55px;
  position: absolute;
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
  height: 300px;
  pointer-events: none;
  z-index: 10;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#childrenDisplaySub {
  background-color: coral;
  padding-top: 10px;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#activeHistoryItemStatus {
  margin: auto;
  color: white;
  background-color: coral;

  padding-top: 10px;
  padding-left: 7px;
  padding-right: 7px;

  margin-top: -40px;

  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-width: 40vw;
  height: 30px;

  box-shadow: rgba(50, 50, 93, 0.8) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#activeHistoryItemStatus > div {
  font-size: 15px;
  overflow-x: scroll;
  white-space: nowrap;
}

.button {
  border-radius: 50px;
  border: none;
  color: white;
  background-color: coral;
  display: block;
  text-align: center;
  height: 30px;

  font-family: 'Mulish', sans-serif;

  padding: 6px;

  text-decoration: none;

  transition: all 100ms ease-in-out;
}

/* Making the anchor open buttons have the same styling */
a.button {
  height: 20px;
  line-height: 20px;
}

.button:active {
    transform: scale(.92) !important;
}

.button:hover {
  transform: scale(1.05);

  cursor: pointer;
}

.button.hidden {
  position: absolute;
  opacity: 0;
  filter: blur(20px);
  pointer-events: none;
}

.actionContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



#closeSublinkView {
  background-color: white;
  width: 60vw;
  margin-bottom: 15px;
  color: black;
}

.sublinkNavContainer {
  display: flex;
  justify-content: space-evenly;
}

.sublinkNav {
  background-color: white;
  color: black;
}
